@charset "UTF-8";
:root {
  --color-1: #1E40AF;
  --color-2: #002B5B;
  --color-3: #BFDBFE;
  --white: #FFFFFF;
  --text-color: #333333;
}

body {
  color: var(--text-color);
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  overflow-x: hidden;
}

img {
  vertical-align: bottom;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--text-color);
  display: inline-block;
  transition: all 0.5s;
}
a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

.br-tab {
  display: none;
}
@media screen and (max-width: 768px) {
  .br-tab {
    display: block;
  }
}

.br-sp {
  display: none;
}
@media screen and (max-width: 425px) {
  .br-sp {
    display: block;
  }
}

.cta {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 425px) {
  .cta {
    flex-direction: column;
    align-items: center;
  }
}
.cta .btn {
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .cta .btn {
    width: 200px;
    height: 40px;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .cta .btn {
    width: 250px;
  }
}
.cta .btn-1 {
  background-color: var(--color-2);
  color: var(--white);
}
.cta .btn-2 {
  background-color: var(--color-1);
  color: var(--white);
}

.section-title {
  margin: 60px 0;
  position: relative;
  height: 150px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section-title {
    margin: 30px 0;
    height: 100px;
  }
}
.section-title .section-title-jp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 52px;
  font-weight: 700;
  z-index: 10;
  width: 100%;
  color: var(--color-2);
}
@media screen and (max-width: 768px) {
  .section-title .section-title-jp {
    font-size: 36px;
  }
}
@media screen and (max-width: 425px) {
  .section-title .section-title-jp {
    font-size: 20px;
  }
}
.section-title .section-title-en {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: rgba(191, 219, 254, 0.4);
  z-index: 5;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .section-title .section-title-en {
    font-size: 64px;
  }
}
@media screen and (max-width: 425px) {
  .section-title .section-title-en {
    font-size: 48px;
  }
}

.fadein,
.leftin,
.rightin,
.fadein-step {
  opacity: 0;
  transition: all 1s;
}

.fadein {
  transform: translateY(50px);
}

.leftin {
  transform: translateX(100px);
}

.rightin {
  transform: translateX(-100px);
}

.fadein-step {
  transform: translateX(-1px);
}
.fadein-step:nth-child(1) {
  transition-delay: 0.5s;
}
.fadein-step:nth-child(3) {
  transition-delay: 1.2s;
}
.fadein-step:nth-child(5) {
  transition-delay: 1.9s;
}

.is-visible {
  opacity: 1;
  transform: translate(0, 0) !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 425px) {
  header {
    height: 50px;
  }
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
header .container h1 {
  display: flex;
  align-items: center;
  width: 250px;
}
@media screen and (max-width: 425px) {
  header .container h1 {
    width: 125px;
    height: auto;
  }
}
header .container h1 img {
  height: 100%;
}
header .container .global-nav {
  display: flex;
  gap: 30px;
  margin-left: auto;
}
@media screen and (max-width: 1100px) {
  header .container .global-nav {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -100%;
    padding: 100px 0;
    background-color: #002B5B;
    transition: all 0.5s;
    width: 100%;
    max-width: 350px;
    gap: 50px;
  }
}
@media screen and (max-width: 425px) {
  header .container .global-nav {
    max-width: 100%;
  }
}
header .container .global-nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 16px;
}
@media screen and (max-width: 1100px) {
  header .container .global-nav ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 1100px) {
  header .container .global-nav ul li a {
    color: var(--white);
  }
}
header .container .hamburger {
  position: relative;
  height: 40px;
  width: 40px;
  z-index: 20;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1100px) {
  header .container .hamburger {
    display: block;
  }
}
@media screen and (max-width: 425px) {
  header .container .hamburger {
    height: 30px;
    width: 30px;
  }
}
header .container .hamburger span {
  position: absolute;
  left: 0;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #333;
  transition: all 0.3s;
}
header .container .hamburger span:nth-child(1) {
  top: 8px;
}
header .container .hamburger span:nth-child(2) {
  top: 50%;
}
header .container .hamburger span:nth-child(3) {
  bottom: 6px;
}

@media screen and (max-width: 1100px) {
  .open .container .global-nav {
    right: 0;
  }
}
.open .container .global-nav .cta {
  flex-direction: column;
  align-items: center;
}
.open .container .global-nav .cta .btn-1 {
  background-color: var(--white);
  color: var(--color-2);
}
.open .container .hamburger span:nth-child(1) {
  transform: rotate(-135deg);
  top: 50%;
  background-color: var(--white);
}
.open .container .hamburger span:nth-child(2) {
  opacity: 0;
}
.open .container .hamburger span:nth-child(3) {
  transform: rotate(135deg);
  top: 50%;
  background-color: var(--white);
}

.fv {
  margin-top: 80px;
  background: url(../img/fv.png);
  background-size: cover;
  background-position: center;
  max-height: calc(100vh - 80px);
  min-height: auto;
  padding: 80px 0;
}
@media screen and (max-width: 1100px) {
  .fv {
    background: url(../img/fv-sp.png);
    background-size: cover;
    padding: 100px 0 50px 0;
  }
}
@media screen and (max-width: 425px) {
  .fv {
    margin-top: 50px;
  }
}
.fv .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.fv .container .fv-5000 {
  max-width: 360px;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 1100px) {
  .fv .container .fv-5000 {
    max-width: 200px;
    margin-bottom: 0;
  }
}
.fv .container .fv-text .fv-text-white {
  color: var(--white);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (max-width: 1100px) {
  .fv .container .fv-text .fv-text-white {
    font-size: 32px;
    margin-bottom: 16px;
  }
}
.fv .container .fv-text .fv-text-lightblue {
  color: var(--color-3);
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 40px;
}
@media screen and (max-width: 1100px) {
  .fv .container .fv-text .fv-text-lightblue {
    font-size: 26px;
    margin-bottom: 20px;
  }
}
.fv .container .fv-text .fv-text-small {
  color: var(--color-3);
  font-size: 20px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1100px) {
  .fv .container .fv-text .fv-text-small {
    font-size: 16px;
  }
}
@media screen and (max-width: 425px) {
  .fv .container .cta .btn-1 {
    background-color: var(--white);
    color: #002B5B;
  }
}

.problem {
  background-color: #F9FAFB;
  padding: 100px 0;
}
@media screen and (max-width: 768px) {
  .problem {
    padding: 70px 0;
  }
}
.problem .container {
  text-align: center;
}
.problem .container .problem-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .problem .container .problem-title {
    font-size: 26px;
  }
}
.problem .container .problem-text {
  font-size: 18px;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .problem .container .problem-text {
    font-size: 14px;
  }
}
.problem .container .problem-img ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .problem .container .problem-img ul {
    flex-direction: column;
  }
}
.problem .container .problem-img ul .problem-item {
  max-width: 300px;
  width: 100%;
  padding: 40px;
  border-radius: 16px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .problem .container .problem-img ul .problem-item {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 5%;
  }
}
@media screen and (max-width: 425px) {
  .problem .container .problem-img ul .problem-item {
    flex-direction: column;
  }
}
.problem .container .problem-img ul .problem-item .problem-item-text {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .problem .container .problem-img ul .problem-item .problem-item-text {
    margin-bottom: 0;
  }
}
.problem .container .problem-img ul .problem-item img {
  max-width: 200px;
  width: 100%;
  border-radius: 8px;
}

.about {
  margin-bottom: 100px;
}
.about .container {
  text-align: center;
}
.about .container .about-text {
  font-size: 18px;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .about .container .about-text {
    font-size: 14px;
  }
}
.about .container .about-recommend {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-2);
  margin-bottom: 40px;
}
@media screen and (max-width: 425px) {
  .about .container .about-recommend {
    font-size: 18px;
  }
}
.about .container .recommend-items {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .about .container .recommend-items {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.about .container .recommend-items .recommend-item {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  text-align: left;
  gap: 5%;
  padding: 20px 5%;
  background-color: var(--color-3);
  border-radius: 16px;
}
.about .container .recommend-items .recommend-item img {
  height: 100px;
  width: auto;
  display: inline-block;
  margin: 0 auto;
}
.about .container .recommend-items .recommend-item p {
  font-size: 16px;
}

.reason {
  padding-bottom: 100px;
}
.reason .container .reason-items {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.reason .container .reason-items .reason-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 50px;
  gap: 5%;
}
@media screen and (max-width: 425px) {
  .reason .container .reason-items .reason-item {
    grid-template-columns: 1fr;
    margin-bottom: 80px;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .reason .container .reason-items .reason-item:last-child {
    margin-bottom: 0;
  }
}
.reason .container .reason-items .reason-item .reason-item-textbox .reason-item-title {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  margin-bottom: 30px;
  z-index: 10;
}
.reason .container .reason-items .reason-item .reason-item-textbox .reason-item-title span {
  color: var(--color-1);
}
.reason .container .reason-items .reason-item .reason-item-textbox .reason-item-title .reason-item-no {
  position: absolute;
  font-size: 120px;
  color: var(--color-3);
  top: -120%;
  right: 10%;
  opacity: 0.5;
  z-index: -1;
}
@media screen and (max-width: 425px) {
  .reason .container .reason-items .reason-item .reason-item-textbox .reason-item-title .reason-item-no {
    font-size: 80px;
    top: -70%;
    right: 0%;
  }
}
.reason .container .reason-items .reason-item .reason-item-textbox .reason-item-text {
  font-size: 16px;
}
@media screen and (max-width: 425px) {
  .reason .container .reason-items .reason-item .reason-item-textbox .reason-item-text {
    font-size: 14px;
  }
}
.reason .container .reason-items .reason-item .reason-item-img {
  width: 100%;
}
@media screen and (max-width: 425px) {
  .reason .container .reason-items .reason-item2 .reason-item-img {
    order: 2;
  }
}
@media screen and (max-width: 425px) {
  .reason .container .reason-items .reason-item2 .reason-item-textbox {
    order: 1;
  }
}

.casestudy {
  background-color: var(--color-2);
  padding: 60px 0 150px 0;
}
@media screen and (max-width: 425px) {
  .casestudy {
    padding: 0 0 100px 0;
  }
}
.casestudy .container {
  text-align: center;
}
.casestudy .section-title {
  margin: 0 0 60px 0;
}
@media screen and (max-width: 425px) {
  .casestudy .section-title {
    margin: 0 0 30px 0;
  }
}
.casestudy .section-title .section-title-jp {
  color: var(--white);
}
.casestudy .casestudy-voice {
  font-size: 36px;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .casestudy .casestudy-voice {
    font-size: 26px;
  }
}
@media screen and (max-width: 425px) {
  .casestudy .casestudy-voice {
    margin: 0 0 30px 0;
    font-size: 18px;
  }
}
.casestudy .slick {
  border-radius: 24px;
  position: relative;
}
.casestudy .slick .slider .slide {
  background-color: var(--white);
  border-radius: 24px;
  margin: 0 15px;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
}
.casestudy .slick .slider .slide .casestudy-img {
  background-color: var(--color-2);
}
.casestudy .slick .slider .slide .casestudy-textbox {
  padding: 30px 8%;
}
.casestudy .slick .slider .slide .casestudy-textbox .casestudy-category {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 999px;
  background-color: var(--color-3);
  color: var(--color-2);
  margin-bottom: 5px;
}
.casestudy .slick .slider .slide .casestudy-textbox .casestudy-name {
  font-size: 16px;
  margin-bottom: 24px;
  font-weight: 500;
}
.casestudy .slick .slider .slide .casestudy-textbox .casestudy-item-title {
  font-size: 18px;
  font-weight: 700;
  color: #3B82F6;
  margin-bottom: 10px;
}

.slick-track {
  display: flex;
  align-items: stretch;
}

.slider {
  position: relative;
}
.slider .slide-arrow {
  position: absolute;
  top: 0;
  width: 80px;
  /* 横幅50px */
  height: 100%;
  /* スライド（.slick-list）の高さに合わせる */
  z-index: 10;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  /* 範囲確認用。完成したら消すか透明にする */
  display: flex;
  /* 疑似要素を中央に置くため */
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 425px) {
  .slider .slide-arrow {
    width: 40px;
  }
}
.slider .slide-arrow::before {
  content: "";
  width: 30px;
  height: 30px;
  border-top: 3px solid #333;
  border-left: 3px solid #333;
  display: block;
}
@media screen and (max-width: 425px) {
  .slider .slide-arrow::before {
    width: 15px;
    height: 15px;
  }
}
.slider {
  /* 左エリア */
}
.slider .prev-arrow {
  left: 0;
}
.slider .prev-arrow::before {
  transform: rotate(-45deg);
  margin-left: 5px;
}
.slider {
  /* 右エリア */
}
.slider .next-arrow {
  right: 0;
}
.slider .next-arrow::before {
  transform: rotate(135deg);
  margin-right: 5px;
}
.slider .slick-dots {
  bottom: -70px;
}
.slider .slick-dots li {
  margin: 0 20px;
  width: 10px;
}
@media screen and (max-width: 425px) {
  .slider .slick-dots li {
    margin: 0 10px;
  }
}
.slider .slick-dots li button::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  opacity: 1;
}
.slider .slick-dots li.slick-active button::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #FDB11E;
  opacity: 1;
}

.price {
  margin-bottom: 100px;
}
.price .container {
  text-align: center;
}
.price .container .price-text {
  font-size: 18px;
  margin-bottom: 60px;
}
@media screen and (max-width: 425px) {
  .price .container .price-text {
    font-size: 14px;
  }
}
.price .container .price-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 3%;
}
@media screen and (max-width: 768px) {
  .price .container .price-items {
    grid-template-columns: 1fr;
  }
}
.price .container .price-items .price-item {
  padding: 60px 10% 40px 10%;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
}
@media screen and (max-width: 768px) {
  .price .container .price-items .price-item {
    padding: 30px 10% 20px 10%;
  }
}
.price .container .price-items .price-item .price-item-text {
  flex-grow: 1;
}
.price .container .price-items .price-item .price-item-text .price-item-plan {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-2);
  padding-bottom: 10px;
}
.price .container .price-items .price-item .price-item-text .price-item-plan span {
  font-size: 14px;
  font-weight: 400;
  color: #6B7280;
}
.price .container .price-items .price-item .price-item-text .price-item-price {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.price .container .price-items .price-item .price-item-text .price-item-price span {
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
}
.price .container .price-items .price-item .price-item-text ul {
  text-align: left;
  font-weight: 700;
}
.price .container .price-items .price-item .price-item-text ul .price-item-point {
  position: relative;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .price .container .price-items .price-item .price-item-text ul .price-item-point {
    margin-bottom: 8px;
  }
}
.price .container .price-items .price-item .price-item-text ul .price-item-point:last-child {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .price .container .price-items .price-item .price-item-text ul .price-item-point:last-child {
    margin-bottom: 20px;
  }
}
.price .container .price-items .price-item .price-item-text ul .price-item-point.check {
  position: relative;
  padding-left: 30px;
}
.price .container .price-items .price-item .price-item-text ul .price-item-point.check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background: url(../img/check.png);
  background-position: center;
  background-size: contain;
}
.price .container .price-items .price-item .price-item-text .price-item-discription {
  text-align: left;
  margin-bottom: 60px;
  line-height: 26px;
}
@media screen and (max-width: 768px) {
  .price .container .price-items .price-item .price-item-text .price-item-discription {
    margin-bottom: 20px;
  }
}
.price .container .price-items .price-item .price-btn {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid var(--color-2);
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .price .container .price-items .price-item .price-btn {
    width: 80%;
  }
}
.price .container .price-items .price-item .price-btn.price-btn-wh {
  background-color: var(--white);
}
.price .container .price-items .price-item .price-btn.price-btn-wh:hover {
  background-color: var(--color-2);
  color: var(--white);
}
.price .container .price-items .price-item .price-btn.price-btn-bl {
  background-color: var(--color-2);
  color: var(--white);
}
.price .container .price-items .price-item .price-btn.price-btn-bl:hover {
  background-color: var(--white);
  color: var(--color-2);
}
.price .container .price-items .price-item-grey {
  background-color: #F3F4F6;
}
.price .container .price-items .price-item-white {
  border: 4px solid var(--color-2);
  background-color: var(--white);
  position: relative;
}
.price .container .price-items .price-item-white::before {
  content: "最も人気！";
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #FDB11E;
  height: 36px;
  width: 130px;
  border-radius: 36px 0 36px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.step {
  margin-bottom: 100px;
}
.step .container .step-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}
@media screen and (max-width: 425px) {
  .step .container .step-items {
    flex-direction: column;
    gap: 30px;
  }
}
.step .container .step-items .step-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 27%;
}
@media screen and (max-width: 425px) {
  .step .container .step-items .step-item {
    width: 75%;
    gap: 16px;
  }
}
.step .container .step-items .step-item .step-item-img {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .step .container .step-items .step-item .step-item-img {
    gap: 16px;
  }
}
@media screen and (max-width: 425px) {
  .step .container .step-items .step-item .step-item-img {
    width: 100%;
  }
}
.step .container .step-items .step-item .step-item-img .step-no {
  max-width: 120px;
  width: 100%;
  padding: 0 30px;
}
.step .container .step-items .step-item .step-item-img .step-img {
  max-height: 180px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 768px) {
  .step .container .step-items .step-item .step-item-img .step-img {
    height: auto;
    width: 100%;
  }
}
.step .container .step-items .step-item .step-text {
  text-align: center;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .step .container .step-items .step-item .step-text {
    font-size: 14px;
  }
}
.step .container .step-items .step-item .step-text .br-nosp {
  display: block;
}
@media screen and (max-width: 425px) {
  .step .container .step-items .step-item .step-text .br-nosp {
    display: none;
  }
}
.step .container .step-items .step-arrow {
  width: 10%;
}
@media screen and (max-width: 425px) {
  .step .container .step-items .step-arrow {
    transform: rotate(90deg);
    width: 30%;
  }
}

.faq {
  background-color: #F9FAFB;
  padding-bottom: 100px;
}
.faq .container .faq-accordion {
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .faq .container .faq-accordion {
    width: 100%;
  }
}
.faq .container .faq-accordion .faq-accordion-item {
  width: 100%;
  margin-bottom: 30px;
  padding: 20px 80px 20px 40px;
  background-color: var(--white);
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 425px) {
  .faq .container .faq-accordion .faq-accordion-item {
    padding: 20px 50px 20px 20px;
    margin-bottom: 16px;
  }
}
.faq .container .faq-accordion .faq-accordion-item::after {
  content: "";
  height: 15px;
  width: 15px;
  border-right: 2px solid var(--color-2);
  border-bottom: 2px solid var(--color-2);
  position: absolute;
  top: 25px;
  right: 30px;
  transform: rotate(45deg);
  transition: transform 0.3s;
}
@media screen and (max-width: 425px) {
  .faq .container .faq-accordion .faq-accordion-item::after {
    right: 20px;
  }
}
.faq .container .faq-accordion .faq-accordion-item.is-active::after {
  transform: rotate(225deg);
  top: 32px;
}
.faq .container .faq-accordion .faq-accordion-item .accordion-header {
  padding: 5px 0 5px 40px;
  position: relative;
  font-size: 16px;
  font-weight: 700;
}
.faq .container .faq-accordion .faq-accordion-item .accordion-header::before {
  content: "Q";
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #002B5B;
  border-radius: 4px;
  color: var(--white);
  font-size: 14px;
}
.faq .container .faq-accordion .faq-accordion-item .accordion-content {
  display: none;
  overflow: hidden;
  margin-top: 30px;
  padding: 5px 0 5px 40px;
  position: relative;
  font-size: 16px;
}
.faq .container .faq-accordion .faq-accordion-item .accordion-content::before {
  content: "A";
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 20px;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--color-3);
  border-radius: 4px;
  color: var(--color-2);
  font-weight: 700;
  font-size: 14px;
}

.cta-area {
  background-color: var(--color-2);
  padding: 60px 0 80px 0;
}
.cta-area .container {
  text-align: center;
}
.cta-area .container .cta-area-text {
  margin-bottom: 45px;
}
.cta-area .container .cta-area-text .cta-text-big {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--white);
}
@media screen and (max-width: 768px) {
  .cta-area .container .cta-area-text .cta-text-big {
    font-size: 28px;
  }
}
.cta-area .container .cta-area-text .cta-text-small {
  font-size: 20px;
  color: var(--color-3);
}
@media screen and (max-width: 768px) {
  .cta-area .container .cta-area-text .cta-text-small {
    font-size: 16px;
  }
}
.cta-area .container .cta {
  margin-bottom: 20px;
  justify-content: center;
}
.cta-area .container .cta .btn-1 {
  background-color: var(--white);
  color: #002B5B;
}
.cta-area .container .cta-text-hosoku {
  color: var(--color-3);
  font-size: 12px;
}

footer {
  background-color: #111827;
  padding: 40px 0 20px 0;
}
footer .container {
  text-align: center;
}
footer .container .footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media screen and (max-width: 425px) {
  footer .container .footer-nav {
    flex-direction: column;
  }
}
footer .container .footer-nav .footer-logo {
  width: 200px;
}
footer .container .footer-nav .footer-logo img {
  width: 100%;
  height: auto;
}
footer .container .footer-nav .footer-menu {
  display: flex;
  margin-left: 30px;
  gap: 30px;
}
@media screen and (max-width: 425px) {
  footer .container .footer-nav .footer-menu {
    flex-direction: column;
    gap: 10px;
  }
}
footer .container .footer-nav .footer-menu li a {
  color: #6B7280;
}
@media screen and (max-width: 425px) {
  footer .container .footer-nav .footer-menu li a {
    font-size: 12px;
  }
}
footer .container .copyright {
  font-size: 12px;
  color: #6B7280;
}/*# sourceMappingURL=style.css.map */